<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.1.0/dist/mini-default.min.css" />
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="UTF8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
		</head>
		<body>
			<header>
			  <a href="#" class="logo">Spunti</a>
			  <button>Home</button>
			  <a href="info/" class="button">Informatica</a>
			  <span>|</span>
			  <a href="agri/" role="button">Agricoltura</a>
			</header>
			<main class="container">
			
			{{ content }}
			
			</main><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
