<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.1.0/dist/mini-default.min.css" />
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="UTF8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/info">Informatica</a></li>
	        		<li><a href="/agri">Agricoltura</a></li>
	    		</ul>
			</nav>
			<main class="container">
			
			{{ content }}
			
			</main><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
